* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(/images/green-grass-texture-16304458.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
}

#message-el {
    font-style: italic;
}

h1 {
    color: goldenrod;
}

button {
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    height: 30px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 7px 0 7px 0;
    cursor: pointer;
    /*text color - #016f32 width - 150px background - goldenrod */
}