body {
    margin: 0;
    text-align: center;
    background-color: #065999;
    color: white;
}

@font-face {
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    src: local('Cursed Timer ULiL'), url('https://fonts.cdnfonts.com/s/40642/CursedTimerUlil-Aznm.woff') format('woff');
}

.column {
    text-align: center;
}

#score-1 {
    background: #0a0001;
    font-size: 90px;
    color: #F94F6D;
    width: 120px;
    margin: 20px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;

}

#score-2 {
    background: #0a0001;
    font-size: 90px;
    color: #F94F6D;
    width: 120px;
    margin: 20px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
}


.container {
    display: flex;
    justify-content: space-around;
}

button {
    background: none;
    cursor: pointer;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    color: white;

}